@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500;700");

:root {
    /* Customization Options */
    --bottom: 15px;
    --right: 15px;
    --scale: 2;
    --maxSplits: 6;
}

body {
    position: fixed;
    bottom: var(--bottom);
    right: var(--right);
    font-family: "IBM Plex Sans";
    color: white;
    width: 1000px;
    margin: 0;
}

body[data-connected="true"] .disconnected-msg,
body[data-connected="false"] .timer {
    opacity: 0;
}

.timer, .disconnected-msg {
    transform: scale(var(--scale));
    transform-origin: bottom right;
}

.timer, .splits__wrapper, .splits {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.disconnected-msg {
    position: absolute;
    bottom: 0;
    right: 0;
    width: fit-content;
    padding: 12px 6px;
}

.splits__wrapper {
    --splitHeight: 41px;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: calc(var(--splitHeight) * var(--maxSplits));
}

.splits {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 100%;
    transform: translateY(calc(var(--splitHeight) * var(--nsplits) * -1));
    transition: transform .4s;
}

.splits[data-clear] {
    animation: fade-in forwards .4s reverse;
    transition: transform .8s;
}

.split {
    position: relative;
    font-size: 20px;
    border-bottom: 2px solid transparent;
    animation: fade-in forwards .4s;
}

.time {
    font-size: 40px;
    font-weight: 700;
    padding: 2px 12px;
    width: fit-content;
}

.time small {
    font-size: 27px;
}

.time, .split__name:after, .disconnected-msg {
    background-color: rgba(0, 0, 0, .9);
}

.split__name {
    position: relative;
    background-color: rgba(0, 0, 0, .7);
    font-weight: 500;
}

.split[data-show-delta] .split__name,
.split:has(.split__time--final:not(:empty)) .split__name {
    transition: transform .4s;
}

.split__name:after {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    width: 300px;
    height: 100%;
    font-weight: 500;
}

.split__comp {
    position: absolute;
    top: 6px;
    right: 0;
    font-weight: 700;
}

.split__delta, .split__time, .split__time--final {
    position: absolute;
    right: 12px;
    width: fit-content;
    white-space: nowrap;
}

.split__delta:not(:empty) + .split__time--final {
    color: #9F9F9F;
}

.split__delta, .split__time--final {
    opacity: 0;
}

.split[data-show-delta] .split__delta {
    animation: fade-in forwards .4s .4s;
}

.split[data-settled] .split__time {
    animation: fade-in forwards .4s reverse;
}

.split[data-settled] .split__time--final {
    animation: fade-in forwards .4s .4s;
}

.split__name {
    padding: 6px 12px;
}

.split__delta[data-status="best"] {
    color: #FFBB00;
}

.split__delta[data-status="ahead"] {
    color: #3CFF00;
}

.split__delta[data-status="behind"] {
    color: #FF5900;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
